.linkButton {
    display: flex;
    color: var(--custom-blue-3);
    font-weight: bold;

    &:hover {
        color: var(--custom-blue-3);
        text-decoration: none;
    }

    svg > path {
        fill: var(--custom-blue-3);
    }
}

.buttonText {
    padding-right: 10px;
}

.buttonIcon {
    padding-top: 2px;
}
