.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 20px;
        color: var(--ifm-color-primary);
    }
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;

    > div,
    > svg {
        margin: 0 20px;
    }

    > div {
        max-width: 600px;

        > div {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }

    > svg {
        min-width: 500px;
        width: 500px;
    }
}

.components {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 80px 20px;

    > p {
        text-align: center;
        font-weight: bold;
        margin-bottom: 60px;
    }

    > div {
        display: flex;
        justify-content: space-between;

        > a {
            flex: 1;
            margin: 0 16px;

            :first-child {
                margin-left: 0;
            }

            :last-child {
                margin-right: 0;
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    margin: 100px 0;

    > div:first-child {
        display: flex;

        > div {
            flex: 1;
            margin: 0 20px;
        }
    }
    > div:nth-child(2) {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        > div {
            margin: 0 20px;

            > img {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-weight: bold;
        }

        p {
            font-size: 16px;
        }
    }
}

.divider {
    width: 100%;
    height: 3px;
    margin-top: 60px;
}

html[data-theme="light"] .divider {
    background-color: var(--custom-blue-1);
}

html[data-theme="dark"] .divider {
    background-color: var(--custom-dark-2);
}
